/* CSS for pokemon cards */

.page {
  width: 100%;
  background-color: #f4f4f5;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#logo {
  width: 600px;
  height: auto;
}

body {
  background-color: #f4f4f5;
}

#cardsContainer {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #eeeaea;
}

.PokemonCard {
  width: 120px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.PokemonCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.PokemonCard span p:first-child {
  font-family: "72 Black", serif;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.PokemonCard span p:nth-child(2) {
  font-family: "72 Black", serif;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.PokemonCard span p:first-letter {
  text-transform: uppercase;
}

img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.changePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button,
#button {
  font-family: "72 Black", serif;
  background-color: #b09797;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
}

button:hover,
#button:hover {
  background-color: #ff0000;
}

h2 {
  font-family: "72 Black", serif;
  color: #333;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

p {
  font-family: "72 Black", serif;
  color: #333;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

/* CSS for modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  font-family: "72 Black", serif;
}

td:first-letter {
  text-transform: uppercase;
}

td {
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-name {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* Color according to type */
#grass {
  background-color: #81be83;
  color: #fff;
}
#fire {
  background-color: #de803c;
  color: #fff;
}
#water {
  background-color: #47a3ee;
  color: #fff;
}
#bug {
  background-color: #45d95e;
  color: #fff;
}
#poison {
  background-color: #0cb205;
  color: #fff;
}
#electric {
  background-color: #e1ff28;
  color: #fff;
}
#normal {
  background-color: #919090;
  color: #fff;
}
#dark {
  background-color: #58575f;
  color: #fff;
}
#dragon {
  background-color: #0f6ac0;
  color: #fff;
}
#fairy {
  background-color: #ed6ec7;
  color: #fff;
}
#fighting {
  background-color: #d04164;
  color: #fff;
}
#flying {
  background-color: #748fc9;
  color: #fff;
}
#ghost {
  background-color: #556aae;
  color: #fff;
}
#ground {
  background-color: #dd7748;
  color: #fff;
}
#ice {
  background-color: #61cec0;
  color: #fff;
}
#psychic {
  background-color: #ea5d60;
  color: #fff;
}
#rock {
  background-color: #baab82;
  color: #fff;
}
#steel {
  background-color: #417d9a;
  color: #fff;
}
