/* Add this CSS to your project's stylesheet or component */

/* Style for the main container */
div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Style for the Pokemon cards container */
#cardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 5 rows */
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the Pokemon card */
.PokemonCard {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for Pokémon number */
.PokemonCard span:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Style for Pokémon name */
.PokemonCard span:nth-child(2) {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Style for Pokémon image */
img {
    width: auto;
    height: auto;
    object-fit: contain;
}

/* Style for Pokémon types */
.PokemonCard.grass-type {
    background-color: #81be83;
    color: #fff;
}
.PokemonCard.fire-type {
    background-color: #de803c;
    color: #fff;
}
.PokemonCard.water-type {
    background-color: #47a3ee;
    color: #fff;
}
.PokemonCard.bug-type {
    background-color: #45d95e;
    color: #fff;
}
.PokemonCard.poison-type {
    background-color: #0cb205;
    color: #fff;
}
.PokemonCard.electric-type {
    background-color: #e1ff28;
    color: #fff;
}
.PokemonCard.normal-type {
    background-color: #919090;
    color: #fff;
}
.PokemonCard.dark-type {
    background-color: #58575f;
    color: #fff;
}
.pokemonCard.dragon-type {
    background-color: #0f6ac0;
    color: #fff;
}
.pokemonCard.fairy-type {
    background-color: #ed6ec7;
    color: #fff;
}
.pokemonCard.fighting-type {
    background-color: #d04164;
    color: #fff;
}
.pokemonCard.flying-type {
    background-color: #748fc9;
    color: #fff;
}
.pokemonCard.ghost-type {
    background-color: #556aae;
    color: #fff;
}
.pokemonCard.ground-type {
    background-color: #dd7748;
    color: #fff;
}
.pokemonCard.ice-type {
    background-color: #61cec0;
    color: #fff;
}
.pokemonCard.psychic-type {
    background-color: #ea5d60;
    color: #fff;
}
.pokemonCard.rock-type {
    background-color: #baab82;
    color: #fff;
}
.pokemonCard.steel-type {
    background-color: #417d9a;
    color: #fff;
}

#name {
    font-family: "72 Black", serif;
    font-size: larger;
}

.PokemonCard span:first-letter {
    text-transform: uppercase;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Add this to your CSS file or inline styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the modal is on top of other content */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
}

